*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle
{
  width: 500px;
  height: 150px;
  position: relative;
  border-style: groove;
  overflow: hidden;
}
.rectangle::before
{
  content: "";
  position:absolute;
  width: 100%;
  height: 143px;
  box-sizing: border-box;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}
.rectangle:hover:before
{

  width: 200px;
  height: 200px;
  rotate: 180deg;
  border-left: solid 200px transparent;
  border-bottom: solid 200px red;
}
.rectangle::after
{
  content: "";
  position:absolute;
  width: 100%;
  height: 143px;
  right: 0;
  box-sizing: border-box;
  z-index: -12;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}
.rectangle:hover:after
{
  border-left: solid 200px transparent;
  border-top: solid 200px red;
  width: 200px;
  height: 200px;
  rotate: 0deg;
}

h1
{
  position: absolute;
  text-align: center;
  top: 25% ;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}