*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle
{
  width: 500px;
  height: 150px;
  position: relative;
  border: groove  2px;
  overflow: hidden;
}
.rectangle::before
{
  content: "";
  position:absolute;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  left: 0;
  bottom: 0;
  transform: rotate(-90deg);
  transform-origin: left bottom;
  background-color: red;
  transition: 1s ease-in;
}
.rectangle:hover::before
{
  transform: rotate(0deg);
}
.rectangle::after
{
  content: "";
  position:absolute;
  background-color: red;
  width: 50%;
  height: 100%;
  right: 0;
  box-sizing: border-box;
  transform-origin: bottom right;
  rotate: 90deg;
  transition: 1s ease-in;
  z-index: -12;
}
.rectangle:hover::after
{
  transform: rotate(-90deg);
}

h1
{
  position: absolute;
  text-align: center;
  top: 25% ;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}