*
{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
body
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container
{
  height: 700px;
  width: 700px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;

}
.box1
{
  height: 400px;
  width: 400px;
  background: rgb(180, 14, 14);
  position: relative;
}
.box1::before, .box1::after
{
   content:"" ;
   height: 400px;
    width: 400px;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    transition-duration: 3s;
    transition-property: transform;
}
.box1::before
{
    border-bottom: 4px solid white;
    border-top: 4px solid white;
    transform: scaleX(0);
}
.box1::after
{
    border-left: 4px solid white;
    border-right: 4px solid white;
    transform: scaleY(0);
}
.box1:hover:before
{
  transform: scaleX(1);
}
.box1:hover:after
{
  transform: scaleY(1);
  transition-delay: 3s;
}
.box2
{
  height: 400px;
  width: 400px;
  background: rgb(180, 14, 14);
  position: absolute;
  rotate: 45deg;
}
.box2::before, .box2::after
{
   content:"" ;
   height: 400px;
    width: 400px;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    transition-duration: 3s;
    transition-property: transform;
}
.box2::before
{
    border-bottom: 4px solid white;
    border-top: 4px solid white;
    transform: scaleX(0);
}
.box2::after
{
    border-left: 4px solid white;
    border-right: 4px solid white;
    transform: scaleY(0);
}
.box2:hover:before
{
  transform: scaleX(1);
}
.box2:hover:after
{
  transform: scaleY(1);
  transition-delay: 3s;
}
.box1:hover .box2::after
{
    transform: scaleY(1);
    transition-delay: 5s;

}
.box1:hover .box2::before
{
    transform: scaleX(1);
    transition-delay: 5s;

}
h1
{
  position: absolute;
  text-align: center;
  top: 25% ;
  left: 0;
  bottom: 0;
  right: 0;
}
h1 span
{
  color: white;
}