*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.Cool
{
  width: 500px;
  height: 150px;
  position: relative;
  border: groove 7px red;
  overflow: hidden;
}
.Cool::before
{
    content: "";
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 135%;
    background-color: #981706;
   border-bottom-left-radius: 50px;
   border-bottom-right-radius: 50px;
   transition-property: transform;
    transition-duration: 1s;
    transform: translateY(-100%);
   
}
.Cool:hover::before {
    transform: translateY(0);
  }
h1
{
  position: absolute;
  text-align: center;
  top: 25% ;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  color: #981706;
  transition-duration: 1s;
  transition-property: color;
  
}
h1:hover
{
    color: black;
}
